<a href="https://colab.research.google.com/github/michelmunoz99/daa_2021_1/blob/master/26octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def ejemplo1( n ):
    c = n + 1
    d = c * n
    e = n * n
    total = c + e - d
    print(f"total={ total }")
ejemplo1( 99999900 )
# T(n) = 4

total=1

In [ ]:
def ejemplo2( n ):
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
    return contador

ejemplo2( 10000 )
# T(n) = 1 + n^2

100000000

In [ ]:
def ejemplo3(n):
    x = n * 2
    y = 0
    for m in range(100):
        y = x - n
    return y

ejemplo3(4)
# T(n) = 102

4

In [ ]:
def ejemplo4( n ):
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    return z

ejemplo4(9)
# T(n) = 3

36.849599999999995

In [ ]:
def ejemplo5( x ):
    n = 10
    for j in range( 0 , x , 1 ):
        n = j + n
    return n

ejemplo5(10000000)
# T(x) = 1 + x

49999995000010

In [ ]:
def ejemplo6( n ):
    data=[[[1 for x in range(n)] for x in range(n)]
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    return suma
print(ejemplo6( 100 ))
# T(n) = 2 + n^3

1000000

In [ ]:
from time import time

def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
for entrada in range(100, 1100, 100):
    ejemplo6(entrada)

Tiempo transcurrido: 0.1271543503 segundos.
Tiempo transcurrido: 1.1214296818 segundos.
Tiempo transcurrido: 3.6337397099 segundos.
Tiempo transcurrido: 8.6273136139 segundos.
Tiempo transcurrido: 17.5303323269 segundos.
Tiempo transcurrido: 33.2833490372 segundos.
Tiempo transcurrido: 51.7544102669 segundos.
Tiempo transcurrido: 80.1667358875 segundos.
Tiempo transcurrido: 109.7234559059 segundos.
Tiempo transcurrido: 156.1047496796 segundos.

In [ ]:
def ejemplo7( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
    return count
# T(n) = 1 + 25n^2
ejemplo7(3)

225

In [ ]:
def ejemplo7( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
            for k in range( n ):
                count += 1
    return count
# T(n) = 1 + 25n^2 + 25n^2
ejemplo7(3)

450

In [ ]:
def ejemplo8( numeros ): # numeros es una lista (arreglo en c)
    total = 0
    for index in range(len(numeros)):
        total = numeros[index]
    return total
#T(n) = 1 + n
ejemplo8(numeros)

In [ ]:
def ejemplo9(  n ):
    contador = 0
    basura = 0
    for i in range( n ) :
        contador += 1
    for j in range( n ) :
        contador += 1
    basura = basura + contador
    return contador
#T(n) = 3 + 2n
print(ejemplo9( 5 ))

In [4]:
def ejemplo10( n ):
    count = 0
    for i in range( n ) :
        for j in range( i+1 ) :
            count += 1
    return count
#T(n) = (n^2+n)/2
# T(3) = (3^2+3)/2 = 6
# T(4) = (4^2+4)/2 = 10
print(ejemplo10(3))
print(ejemplo10(4))

6
10

In [8]:
def ejemplo10_a( n ):
    count = 0
    for i in range( n ) :
        for j in range( i ) :
            count += 1
    return count
#T(n) = (n^2-n)/2    (No incluye al tope)

print(ejemplo10(3))
print(ejemplo10(4))


'''

n= 3
000
n00 <-- aqui empieza el for interno
nn0 <--- aqui termina el for interno
nnn
n = 4
0000
n000 <-- aqui empieza el for interno
nn00
nnn0 <--- aqui termina el for interno
nnnn

n =5
00000
n0000 <-- aqui empieza el for interno
nn000
nnn00
nnnn0 <--- aqui termina el for interno
nnnnn
'''

6
10

'\n\nn= 3\n000\nn00 <-- aqui empieza el for interno\nnn0 <--- aqui termina el for interno\nnnn\nn = 4\n0000\nn000 <-- aqui empieza el for interno\nnn00\nnnn0 <--- aqui termina el for interno\nnnnn\n\nn =5\n00000\nn0000 <-- aqui empieza el for interno\nnn000\nnnn00\nnnnn0 <--- aqui termina el for interno\nnnnnn\n'

In [10]:
def ejemplo11( n ):
    count = 0
    i = n
    while i > 1 :
        count += 1
        i = i // 2 
    return count
print(ejemplo11(16))
# T(n) =  2 + (2 Log 2 n)

4

In [13]:
def ejemplo12( n ):
    contador = 0
    for x in range(n):
        contador += ejemplo11(x)
    return contador

# T(n) = 1+n(2+2log2(n))
print(ejemplo12(10))

16

In [14]:
def ejemplo13( x ):
    bandera = x
    contador = 0
    while( bandera >= 10):
        print(f" x = { bandera } ")
        bandera /= 10
        contador = contador + 1
    print(contador)
# T(x) = log10 x +1
ejemplo13( 1000 )

 x = 1000
 x = 100.0
 x = 10.0
3

In [17]:
def ejemplo14(n):
    y = n
    z = n
    contador = 0
    while y >= 3:
        y /= 3
        contador += 1
    return contador
    
    while z >= 3:
        z/= 3
        contador += 1
    return contador

print(ejemplo14(27))

# T(n) = 2log3(n)

3

In [18]:
def ejemplo15( n ): 
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
            
    while n > 1 :
        contador += 1
        n /= 2
    return contador

print(ejemplo15(10))

104